<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img src="assets\logo_defensa_civil_ultimate.png" style="padding: 15px;"/>
  </ion-toolbar>
</ion-header>
-->
<ion-content [fullscreen]="true">
  <div class="container">
    <ion-img src="assets\DC-logo-2017.png" style="padding: 40px;"/>
    <ion-title style="font-style: italic;">"Mantente conectado, mantente seguro"</ion-title>  
  </div>

  <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
    <ion-fab-button [routerLink]="['../tabs/home']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
