<ion-content>
  <ion-grid>
    <!--PRIMERA FILA DE BOTONES-->
    <ion-row>
      <ion-col size="6">
        <ion-button class="custom-button" href="/history" expand="block">
          <ion-icon slot="start" size="large" name="time-outline"></ion-icon>
          Historia
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="custom-button" href="/tabs/services" expand="block">
          <ion-icon slot="start" size="large" name="briefcase-outline"></ion-icon>
          Servicios
        </ion-button>
      </ion-col>
    </ion-row>

    <!--SEGUNDA FILA DE BOTONES-->
    <ion-row>
      <ion-col size="6">
        <ion-button class="custom-button" href="/tabs/news" expand="block">
          <ion-icon slot="start" size="large" name="newspaper-outline"></ion-icon>
          Noticias
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="custom-button" href="/tabs/videos" expand="block">
          <ion-icon slot="start" size="large" name="videocam-outline"></ion-icon>
          Videos
        </ion-button>
      </ion-col>
    </ion-row>

    <!--TERCERA FILA DE BOTONES-->
    <ion-row>
      <ion-col size="6">
        <ion-button class="custom-button" href="/tabs/albergues" expand="block">
          <ion-icon slot="start" size="large" name="home-outline"></ion-icon>
          Albergues
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="custom-button" href="/tabs/alberguesMap" expand="block">
          <ion-icon slot="start" size="large" name="map-outline"></ion-icon>
          Mapa
        </ion-button>
      </ion-col>
    </ion-row>

    <!--CUARTA FILA DE BOTONES-->
    <ion-row>
      <ion-col size="6">
        <ion-button class="custom-button" href="/tabs/medidas" expand="block">
          <ion-icon slot="start" size="large" name="body-outline"></ion-icon>
          Medidas
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="custom-button" href="/tabs/members" expand="block">
          <ion-icon slot="start" size="large" name="people-outline"></ion-icon>
          Miembros
        </ion-button>
      </ion-col>
    </ion-row>

    <!--QUINTA FILA DE BOTONES-->
    <ion-row>
      <ion-col size="6">
        <ion-button class="custom-button" href="/tabs/form" expand="block">
          <ion-icon slot="start" size="large" name="clipboard-outline"></ion-icon>
          Formulario
        </ion-button>
      </ion-col>

      <!--Funcionalidades post-login-->
      <ion-col *ngIf="hastoken" size="6">
        <ion-button class="custom-button" href="/tabs/noticiasEsp" expand="block">
          <ion-icon slot="start" size="large" name="newspaper-outline"></ion-icon>
          Noticias Específicas
        </ion-button>
      </ion-col>
    </ion-row>

    <!--SEXTA FILA DE BOTONES-->
    <ion-row>
      <ion-col *ngIf="hastoken" size="6">
        <ion-button class="custom-button" href="/tabs/reportarSituacion" expand="block">
          <ion-icon slot="start" size="large" name="alert-outline"></ion-icon>
          Reportar Situaciones
        </ion-button>
      </ion-col>
      <ion-col *ngIf="hastoken" size="6">
        <ion-button class="custom-button" href="/tabs/MiSituaciones" expand="block">
          <ion-icon slot="start" size="large" name="list-outline"></ion-icon>
          Mis Situaciones
        </ion-button>
      </ion-col>
    </ion-row>

    <!--SEPTIMA FILA DE BOTONES-->
    <ion-row>
      <ion-col *ngIf="hastoken" size="6">
        <ion-button class="custom-button" href="/tabs/MapaSituaciones" expand="block">
          <ion-icon slot="start" size="large" name="locate-outline"></ion-icon>
          Mapa de Situaciones
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
