<ion-content>
    <!--PARA CREAR OTRA LINEA DE BOTONES SOLO COPIAR Y PEGAR ESTA-->

    <ion-row>
      <ion-col size="6">
        <ion-button href="/history">
          <div>
            <ion-icon size="large" name="hourglass-outline"></ion-icon><br>
            Historia
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button href="/tabs/services">
          <div>
            <ion-icon size="large" name="file-tray-stacked-outline"></ion-icon><br>
            <ion-label>Servicios</ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button href="/tabs/news">
          <div>
            <ion-icon size="large" name="newspaper-outline"></ion-icon><br>
            Noticias
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button href="/tabs/videos">
          <div>
            <ion-icon size="large" name="play-outline"></ion-icon><br>
            Videos
          </div>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button href="/tabs/albergues">
          <div>
            <ion-icon size="large" name="home-outline"></ion-icon><br>
            <ion-label>Albergues</ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button href="/tabs/alberguesMap">
          <div>
            <ion-icon size="large" name="map-outline"></ion-icon><br>
            Mapa
          </div>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button href="/tabs/medidas">
          <div>
            <ion-icon size="large" name="body-outline"></ion-icon><br>
            Medidas
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button href="/tabs/members">
          <div>
            <ion-icon size="large" name="people-outline"></ion-icon><br>
            <ion-label>Miembros</ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button href="/tabs/form">
          <div>
            <ion-icon size="large" name="clipboard-outline"></ion-icon><br>
            Formulario
          </div>
        </ion-button>
      </ion-col>

    <!--Funcionalidades post-login-->
      <ion-col *ngIf="hastoken" size="6">
        <ion-button href="/tabs/noticiasEsp">
          <div>
            <ion-icon size="large" name="newspaper-outline"></ion-icon><br>
            <ion-label>Noticias Especificas</ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col *ngIf="hastoken" size="6">
        <ion-button href="/tabs/reportarSituacion">
          <div>
            <ion-icon size="large" name="calendar-outline"></ion-icon><br>
            <ion-label>Reportar Situaciones </ion-label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col *ngIf="hastoken" size="6">
        <ion-button href="/tabs/MiSituaciones">
          <div>
            <ion-icon size="large" name="navigate-outline"></ion-icon><br>
            <ion-label>Mis Situaciones</ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col *ngIf="hastoken" size="6">
        <ion-button href="/tabs/MapaSituaciones">
          <div>
            <ion-icon size="large" name="map-outline"></ion-icon><br>
            <ion-label>Mapa de Situaciones</ion-label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
</ion-content>
