.custom-button {
    --background: #3880ff;
    --background-hover: #4c8dff;
    --background-activated: #3b7cff;
    --color: white;
    --border-radius: 10px;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    text-align: left;
    padding: 10px;
  }
  
  .custom-button ion-icon {
    margin-right: 10px;
  }
  