<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="menu" href="/tabs/menu">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="config" href="/tabs/config">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
