<!--Carlos sanchez 20220465-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Acerca De</ion-title>
  </ion-toolbar>
</ion-header>

<!--TITULO-->
<ion-content [fullscreen]="true">
  
 <ion-card> 
  <ion-card-header>
    <ion-card-title>Integrante</ion-card-title>
  </ion-card-header>
</ion-card>
  <ion-card>
  <ion-card-content>
    <ion-list lines="none">
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="assets/img/foto.jpeg"></ion-img>
      </ion-avatar>
      <ion-label> 
        <h2>Carlos Sanchez</h2>
        <p>En el rol de FullStack</p>
      </ion-label>
    </ion-item>
    </ion-list>
  </ion-card-content>
 </ion-card>

 <ion-card>
  <ion-card-header>
    <ion-card-title>Contacto</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>20220465&#64;itla.edu.do</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon name="clipboard" slot="start"></ion-icon>
        <ion-label>2022-0465</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
 </ion-card>


</ion-content>
