.input {
    font-size: 300;
}

ion-item {
    --background:'#F1F1F1';
    border-radius: 10px;
    margin-bottom: 16px;
}

.header {
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    .subTitle {
        color: grey;
        font-size: 0.9rem;
    }
    title {
        font-size: 2rem;
    }
    ion-img{
        border: 5px solid; 
        border-radius: 15px;
        margin: 10px;
    }
}

.signupLink {
    display: flex;
    margin: auto;
    flex-direction: row;
    align-content: center;
    position: absolute;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 80%;
    right: 0;
    p{
        font-size: 0.9rem;
    }
    a{
        text-decoration: none;
    }
}

.forgotPassword {
    display: flex;
    justify-content: flex-end;
    a{
        font-weight: 400;
        font-size: 0.8rem;
        text-decoration: none;

    }
}

.error{
    color: red;
    font-size: 0.9rem;
}

.loged{
    text-align: center;
    margin-top: 50px;
}