<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-img src="assets/DC-logo-2017.png" style="padding: 40px;"/>
  </div>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Defensa Civil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      La Defensa Civil cuenta con un equipo que brinda apoyo en la elaboración de planes de emergencias y rutas de evacuación en instituciones públicas y privadas.
    </ion-card-content>
  </ion-card>
</ion-content>
