<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button [routerLink]="['/tabs/menu']">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">videos</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let video of videos">
    <ion-card-header>
      <ion-card-subtitle>{{ video.fecha }}</ion-card-subtitle>
      <ion-card-title>{{ video.titulo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ video.descripcion }}</p>
      <ion-button expand="block" color="primary" href="https://www.youtube.com/watch?v={{ video.link }}" target="_blank">Ver video</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
